* {
  margin: 0;
  padding: 0;
}

.content {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #333333;
}

.test {
  font: {
    family: PingFang;
    size: 20px;
    weight: 500
  }
}

@function getShadows($n) {
  $shadows: '#{random(100)}vw #{random(100)}vh #fff';

  @for $i from 2 through $n {
    $shadows: '#{$shadows}, #{random(100)}vw #{random(100)}vh #fff';
  }
  @return unquote($shadows);
}

$count: 1000;
$duration: 400s;
@for $i from 1 through 3 {
  $duration: $duration / 2;
  $count: floor($count / 2);
  .layer#{$i} {
    $size: #{$i}px;
    width: $size;
    height: $size;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: getShadows($count);
    animation: move $duration infinite;

    &::after {
      position: fixed;
      left: 0;
      top: 100vh;
      display: block;
      content: '';
      width: $size;
      height: $size;
      border-radius: inherit;
      box-shadow: inherit;
    }
  }
}

@keyframes move {
  100% {
    transform: translateY(-100vh);
  }
}
